#---------------------------------#
#  Build Image                    #
#---------------------------------#
image: Visual Studio 2019

#---------------------------------#
#  Build Script                   #
#---------------------------------#
install:
  # Update to latest NuGet version since we require 5.3.0 for embedded icon
  - ps: nuget update -self
  - ps: choco install markdownlint-cli --no-progress
  - ps: Install-Product node 14

build_script:
  - ps: .\build.ps1 -Target CI

# Tests
test_script:
  - ps: cd .\tests\integration\
  - ps: .\build.ps1 --verbosity=diagnostic

#---------------------------------#
#        Branches to build        #
#---------------------------------#
branches:
  # Whitelist
  only:
    - develop
    - master
    - /release/.*/
    - /hotfix/.*/

#---------------------------------#
#  Build Cache                    #
#---------------------------------#
cache:
- tools -> recipe.cake